---
layout: compress
---
<html lang=Portfolio | Giovani Nascimento Pereira>

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{ site.url }}{{ site.baseurl }}/assets/img/posts/Other/codesmall_lg.jpg">
      <div class="hero__wrap">
        <h1 class="hero__title">Portifolio | Giovani</h1>
        <p class="hero__meta">Developed apps. Individually or in groups, this section is to discuss about my work on each of them, and also talk about the technologies involved on each application.</p>
      </div>
    </div>

    <main class="site__content">
      <section class="blog">
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

<!-- Card begining SMCA -->
            <div class="post-card" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
              <a href="https://giovaninppc.github.io/SMCA/">
                <figure class="post-card__thumb">
                  <img
                    src="{{ site.url }}{{ site.baseurl }}/assets/img/posts/SMCA/Tab.jpg",
                    data-srcset="{{ site.url }}{{ site.baseurl }}/assets/img/posts/SMCA/Tab_thumb.jpg, {{ site.url }}{{ site.baseurl }}/assets/img/posts/SMCA/Tab_thumb@2x.jpg 2x"
                    class="lazyload blur"
                    alt="{{post.title}}"
                  />
                  <noscript><img src="{{ site.url }}{{ site.baseurl }}/assets/img/posts/SMCA/Tab.jpg" alt="Super Mini Color Arcade"></noscript>
                </figure>
            </a>
            <a class="post-card__inner" href="https://giovaninppc.github.io/SMCA/">
              <div class="post-card__header">
                <h2>Super Mini Color Arcade</h2>
                <h5>Development and Design<h5>
                <span class="post-card__meta">
                  <time>25 Abr 2018</time>
                </span>
              </div>
                <p>A collection of mini-games fo iOS. Built using SpriteKit and UIKit, this is the perfect game to spend time and challenge friends.</p>
            </a>
          </div>
<!-- end of the card (?) -->

<!-- Card begining IA -->
            <div class="post-card" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
              <a href="https://giovaninppc.github.io/InterAcao/">
                <figure class="post-card__thumb">
                  <img
                    src="{{ site.url }}{{ site.baseurl }}/assets/img/posts/IA/IABG.jpg",
                    data-srcset="{{ site.url }}{{ site.baseurl }}/assets/img/posts/IA/IA_thumb.jpg, {{ site.url }}{{ site.baseurl }}/assets/img/posts/IA/IA_thumb@2x.jpg 2x"
                    class="lazyload blur"
                    alt="{{post.title}}"
                  />
                  <noscript><img src="{{ site.url }}{{ site.baseurl }}/assets/img/posts/IA/IA.jpg" alt="Bandex"></noscript>
                </figure>
            </a>
            <a class="post-card__inner" href="https://giovaninppc.github.io/InterAcao/">
              <div class="post-card__header">
                <h2>InterAção</h2>
                <h5>Development and Design<h5>
                <span class="post-card__meta">
                  <time>10 Jan 2018</time>
                </span>
              </div>
                <p>The app for Mimic. InterAção was created as a game to bond and bring friends and family together to play.</p>
            </a>
          </div>
<!-- end of the card (?) -->

<!-- Card begining MEET -->
            <div class="post-card" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
              <a href="https://giovaninppc.github.io/Meet/">
                <figure class="post-card__thumb">
                  <img
                    src="{{ site.url }}{{ site.baseurl }}/assets/img/posts/Meet/meet_placehold.jpg",
                    data-srcset="{{ site.url }}{{ site.baseurl }}/assets/img/posts/Meet/meet_thumb.jpg, {{ site.url }}{{ site.baseurl }}/assets/img/posts/Meet/meet_thumb@2x.jpg 2x"
                    class="lazyload blur"
                    alt="{{post.title}}"
                  />
                  <noscript><img src="{{ site.url }}{{ site.baseurl }}/assets/img/posts/Meet/meet_thumb.jpg" alt="Meet"></noscript>
                </figure>
            </a>
            <a class="post-card__inner" href="https://giovaninppc.github.io/Meet/">
              <div class="post-card__header">
                <h2>Meet</h2>
                <h5>Design and Front-End<h5>
                <span class="post-card__meta">
                  <time>12 Dec 2017</time>
                </span>
              </div>
                <p>Meet was an app created to help friends to be more in touch, sugesting schedules for them to meet..</p>
            </a>
          </div>
<!-- end of the card (?) -->

<!-- Card begining BANDEX -->
            <div class="post-card" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
              <a href="https://giovaninppc.github.io/Bandex/">
                <figure class="post-card__thumb">
                  <img
                    src="{{ site.url }}{{ site.baseurl }}/assets/img/posts/Bandex/Bandex_placehold.jpg",
                    data-srcset="{{ site.url }}{{ site.baseurl }}/assets/img/posts/Bandex/Bandex_thumb.jpg, {{ site.url }}{{ site.baseurl }}/assets/img/posts/Bandex/Bandex_thumb@2x.jpg 2x"
                    class="lazyload blur"
                    alt="{{post.title}}"
                  />
                  <noscript><img src="{{ site.url }}{{ site.baseurl }}/assets/img/posts/Bandex/Bandex_thumb.jpg" alt="Bandex"></noscript>
                </figure>
            </a>
            <a class="post-card__inner" href="https://giovaninppc.github.io/Bandex/">
              <div class="post-card__header">
                <h2>Bandex</h2>
                <h5>Design<h5>
                <span class="post-card__meta">
                  <time>10 Aug 2017</time>
                </span>
              </div>
                <p>This was an app created to help the students of the University of Campinas see the Universitary Restaurant Menu easily.</p>
            </a>
          </div>
<!-- end of the card (?) -->

            <!-- {% include pagination.html %} -->
          </div>
        </div>
      </section>
    </main>

    {% include footer.html %}

  </body>

</html>
